{{#author}}
  <div class='c-author'>

    {{#if profile_image}}
      <img class='c-author__img' src='{{ profile_image }}' alt='{{ name }}'>
    {{/if}}

    <div class='c-author__body'>
      <h3 class='c-author__name'>
        <a href='{{ url }}'>{{ name }}</a>
      </h3>

      {{#if bio}}
        <p class='c-author__bio'>{{ bio }}</p>
      {{/if}}

      <ul class='c-author-links o-plain-list'>
        {{#if twitter}}
          <li class='c-author-links__item'>
            <a href='{{ twitter_url }}' target='_blank'>
              <span class='c-author-links__icon' data-icon='ei-sc-twitter' data-size='s'></span>
            </a>
          </li>
        {{/if}}

        {{#if facebook}}
          <li class='c-author-links__item'>
            <a href='{{ facebook_url }}' target='_blank'>
              <span class='c-author-links__icon' data-icon='ei-sc-facebook' data-size='s'></span>
            </a>
          </li>
        {{/if}}

        {{#if website}}
          <li class='c-author-links__item'>
            <a href='{{ website }}'>
              <span class='c-author-links__icon' data-icon='ei-link' data-size='s'></span>
            </a>
          </li>
        {{/if}}

        {{#if location}}
          <li class='c-author-links__item'>
            <span class='c-author-links__icon' data-icon='ei-location' data-size='s'></span>{{ location }}
          </li>
        {{/if}}
      </ul>
    </div>

  </div>
{{/author}}