<div class="subscribe-form">
  <h5 class='u-text-center u-font-bold '>{{t 'Enter your email below to join our newsletter' }}</h5>
  <form data-members-form='subscribe' class='subscribe-form u-mt-16'>
    <div class='form-group'>
      <label for='subscribe-email' class='u-hidden-visually'>{{t 'Email' }}</label>
      <input type='email' id='subscribe-email' placeholder='{{t 'Email' }}' data-members-email>
      <button type='submit' class='c-btn'>{{t 'Subscribe' }}</button>
    </div>

    <div class='u-alert u-alert--success u-mt-8'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
    <div class='u-alert u-alert--invalid u-mt-8'>{{t 'Please enter a valid email address!' }}</div>
    <div class='u-alert u-alert--error u-mt-8'>{{t 'An error occurred, please try again later.' }}</div>
  </form>
</div>