{{!< default}}

{{#post}}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--3-4-m o-grid__col--center'>
      <article class='c-{{ post_class }}'>
        <h1 class='c-post__title u-text-center'>{{ title }}</h1>
        <time class='c-post__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMM YYYY' }}</time>

        <div class='c-content'>
          {{> post-image }}
          {{ content }}
        </div>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m'>
            <div class='c-tags'>
              {{ tags separator='' }}
            </div>
          </div>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m'>
            {{> share }}
          </div>
        </div>

        <hr>

        {{> author }}

        {{#if @labs.subscribers }}
          {{> subscribe-form }}
          <hr>
        {{/if}}

        {{> disqus }}

      </article>

    </div>
  </div>
</div>

{{/post}}